
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lora:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: "Dancing Script";
    width: auto;
}
:root{
    /*  colors*/
--independence: hsla(235, 18%, 36%, 1);
--outer-space-crayola: hsla(154, 7%, 19%, 1);
--background: #191919; 
--fotns: whitesmoke;
}

header{
    background-color: var(--outer-space-crayola);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0px 40px;
    position: sticky;
    position:-webkit-sticky;
    top: 0;
}

.navbar,
.navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    color: var(--fotns);
    font-weight: 400;
}
.navbar-list :first-child {
    font-weight: 700;
}
.logo  {
    height: 60%;
    border-radius: 5px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--background);
}
#hero   {
    margin-top: 80px;
    padding: 70px 0px;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 80px;
    background-color:var(--background);
    width: 100%;
}
.hero-info{
    width: 50%;
    padding: 80px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hero-info h1 {
    font-size: 40px;
    width: 80%;
    min-width: 500px;  
    color: var(--fotns); 
}
.hero-info p {
    font-size: 20px;
    color: var(--fotns);
}
.button {
    display: flex;
    flex-direction: row;
    gap: 200px;
}
.button a {
    color: var(--fotns);
    background-color:var(--independence);
    width: auto;
    padding: 8px;
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    font-weight: 400;
} 
.hero-foto {
    width: 50%;
    border-radius: 10px;
    background: var(--independence);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    padding: 20px;
}
.hero-foto img {
    border-radius: 15px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}


#info {
    padding: 10px opx;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    background-color: var(--background);
    flex-wrap: wrap ;
    align-items: center;
}
.descripcion p {
    width: 800px;
    text-align:center;
    font-size: 25px;
    color: var(--fotns);
    font-weight: 400;
    padding: 30px;
}

#cards {
    padding: 70px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
}

#cards h2 {
    font-size: 35px;
    font-weight: 500;
    color: var(--fotns);
}

.info-cards-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
}


.info-card {
    width: 300px;
    height: 290px;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: var(--independence);
    gap: 20px;
    border-radius: 10px;
}

.info-card img {
    width: 80%;
}

.info-card h3 {
    font-weight: 200;
    font-size: 120%;
    color: var(--fotns); 
}

.info-card p {
    font-size: 15px;
    font-weight: 200;
    color: var(--fotns);
}

#contact {
    display: flex;
    align-items: center;
    width: 70%;
    max-width: 1200px;
    justify-content: center;
    padding: 20px 40px;
    margin-bottom: 20px;
    border-radius: 10px;
}
#contact h2{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--fotns);
}
.info-contact{
    display: flex;
    padding: 10px;
    gap: 30px;
    font-size: 20px;
    width: 100%;
    font-size: 20px;
    color: var(--fotns);
}
.info-contact img{
    width: 10%;
}    
.mapa{ 
    border-radius: 10px;
}
footer {
    background-color: var(--outer-space-crayola);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
}
footer h3{
    color: var(--fotns);
    font-weight: 100;
}


@media (max-width: 992px){
    header{
        justify-content: space-around;
    }
    #hero {
        flex-direction: column;
    }
    .hero-info {
        padding: 20px 0px;
    }
    .hero-foto img {
      width: 90%;  
    }
    .button{
        gap: 100px;
    }
    .info-cards-container {
        flex-direction: column;
    }
    #contact {
        flex-direction: column;
    }
}
@media (max-width: 768px){
    header {
        
        align-items: flex-end;
    }
    .navbar-list{
           padding: 0px 30px;
           font-size: 12px;
    }
    .logo {
        height: 50%;
    }
    .hero-info {
        align-items: center;
        padding: 0px 20px;
    }
    .button {
        gap: 50px;
    }
    .descripcion p {
        width: 300px;
    }

}